<section class="advantages">
   <div class="container">
      <h2 class="title advantages__title">Если подойти к дегельминтизации безответственно,&nbsp;<br>вы можете навредить
         здоровью своего питомца</h2>
      <div class="advantages__list">
         <div class="item">
            <img src="img/advantages_1.jpg" alt="dog" class="item__img">
            <p class="item__text">Татьяна заметила,&nbsp;<br>
               что ее шпиц Шерлок стал
               плохо есть и вяло реагировать на игры
            </p>
            <svg class="icon line">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/advantages_2.jpg" alt="dog" class="item__img">
            <p class="item__text">Татьяна знала, что в таких случаях принято избавляться от глистов. Она
               купила средство от&nbsp;глистов в&nbsp;ближайшем зоомагазине
            </p>
            <svg class="icon line">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/advantages_3.jpg" alt="dog" class="item__img">
            <p class="item__text">Вечером после приема средства у Шерлока началась рвота, нарушилась координация
            </p>
            <svg class="icon line">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/advantages_4.jpg" alt="dog" class="item__img">
            <p class="item__text">В 3:20 ночи Шерлока пришлось везти в&nbsp;круглосуточную ветеринарную клинику

            </p>
         </div>
      </div>
      <div class="advantages__line"></div>
      <h3 class="ttl">Обычные противопаразитарные таблетки содержат&nbsp;<br><b class="bold">агрессивно действующие
            вещества:</b></h3>
      <div class="cols">
         <div class="col">
            <p class="col__item">
               <i class="fico fico-icon"></i>
               паразиты в организме животного массово погибают&nbsp;<br>
               и&nbsp;быстро разлагаются, буквально <b class="bold">отравляя кровь</b>&nbsp;<br>
               токсинами</p>
            <p class="col__item"><i class="fico fico-icon"></i>у животного <b class="bold">разрушается печень</b> -
               природный фильтр,&nbsp;<br>потому
               что она не успевает так быстро перерабатывать&nbsp;<br>огромное количество токсинов</p>
         </div>
         <div class="col">
            <p class="col__item"><i class="fico fico-icon"></i>запускаются процессы активного выведения&nbsp;<br>
               из&nbsp;организма токсинов, а с ними <b class="bold">выводятся минералы и&nbsp;витамины</b>
            </p>
            <p class="col__item"><i class="fico fico-icon"></i>из-за критических нагрузок на организм <b class="bold">нарушается&nbsp;<br>работа
                  всех
                  систем</b>: нервной, дыхательной,&nbsp;<br>сердечно-сосудистой, ЖКТ, могут отказывать части тела
            </p>
         </div>
      </div>
      <div class="advantages__result">
         <img src="img/advantages_dog.png" alt="dog" class="img">
         <p class="text">После такого препарата у питомца катастрофически падает иммунитет, он <b class="bold">не
               сопротивляется даже элементарным вирусам</b>.</p>
      </div>
      <div class="advantages__warning">
         <i class="icon icon-warn"></i>
         <h4 class="ttl">Нельзя</h4>
         <div class="desc">
            <p class="desc__text"><b class="bold">проводить дегельминтизацию</b> агрессивными препаратами <b class="bold">без</b>
               параллельного
               специализированного <b class="bold">восстановления здоровья</b> животного витаминами, минералами и
               микроэлементами.</p>
            <p class="desc__text">Иначе ослабленный иммунитет перестанет защищать организм.&nbsp;<br>
               Опасной станет любая, даже безобидная, болезнь!</p>
         </div>
      </div>
   </div>
</section>