<section class="expert block" id="expert">
   <div class="container">
      <h2 class="title expert__title"><span class="text-blue">Ветеринары</span> об опасностях&nbsp;<br>дегельминтизации</h2>
      <img src="img/doctor.png" alt="doctor" class="img">
      <div class="expert__content">
         <div class="desc">
            <p class="text">После травли гельминтов у кота или собаки, их хозяева ко мне часто обращаются с
               жалобами.
               Питомцы становятся вялыми, у них выпадает шерсть, возникает тяжелые болезни. Просто хозяева не
               знают,&nbsp;<br> как правильно бороться с гельминтами.</p>
            <p class="text">Большинство противогельминтных препаратов на нашем отечественном рынке буквально мучают
               организм питомца. В&nbsp;их составе часто&nbsp;<br>содержатся такие агрессивные компоненты, как
               тетрахлорид
               углерода или хлоксил, который вызывает гепатит печени. В&nbsp;Европе от этих компонентов уже давно
               отказались и заменили
               более щадящими средствами. У&nbsp;нас же фармацевтика буквально только начинает проявлять заботу о котах
               и&nbsp;собаках.</p>
            <p class="text text-grey">Чтобы уберечь ваше животное от болезненной интоксикации,&nbsp;<br>я рекомендую
               использовать органический комплекс Anitox.</p>
            <p class="text">Это препарат двойного действия. Он&nbsp;мягко выводит гельминтов, не нарушая водно-солевой
               баланс животного, затем восстанавливает общее состояние организма питомца. Поскольку Anitox содержит
               в
               себе витаминный комплекс, рекомендую использовать его даже незараженным питомцам для профилактики.
               Препарат усиливает иммунитет, укрепляет кости, улучшает состояние зубов, зрение и слух.</p>

            <p class="text">Относитесь ответственно к здоровью ваших животных, ведь они вам доверяют.</p>
         </div>
         <button class="show js-show-more"> <i class="fico fico-arrow"></i></button>
         <p class="name-expert">Игорь Корчинский</p>
         <p class="post">ветеринар, стаж работы: 17 лет </p>
      </div>
   </div>
</section>