<section class="expert">
   <div class="container">
      <h2 class="title expert__title"><span class="text-blue">Ветеринары</span> об опасностях&nbsp;<br>дегельминтизации</h2>
      <div class="expert__content">
         <img src="img/doctor.png" alt="doctor" class="img">
         <div class="desc">
            <p class="text">После травли гельминтов у кота или собаки, их хозяева ко мне часто обращаются с жалобами.
               Питомцы становятся вялыми, у них выпадает шерсть, возникает тяжелые болезни. Просто хозяева не знают,
               как правильно бороться с гельминтами.</p>
            <p class="text">Большинство противогельминтных препаратов на нашем отечественном рынке буквально мучают
               организм питомца. В их составе часто содержатся такие агрессивные компоненты, как тетрахлорид углерода
               или
               хлоксил, который вызывает гепатит печени. В Европе от этих компонентов уже давно отказались и заменили
               более щадящими средствами. У нас же фармацевтика буквально только начинает проявлять заботу о котах и
               собаках.</p>
            <p class="text">Чтобы уберечь ваше животное от болезненной интоксикации,
               я рекомендую использовать органический комплекс Anitox.</p>
         </div>
      </div>
   </div>
</section>