<header class="header block header--bottom">
   <div class="container">
      <div class="header__main">
         <img src="img/header__img.png" alt="img" class="img" />
         <img src="img/header__img-media.png" alt="img" class="img-media" />
         <div class="info">
            <p class="logo">
               <span class="text-blue">ANI</span><span class="text-blue3">TOX</span>
            </p>
            <h1 class="title header__title">
               Спасите вашего любимца от гельминтов!
            </h1>
            <p class="text">
               Уникальное <b class="bold">средство 2 в 1</b>&nbsp;<br />для здоровья
               и долголетия вашего&nbsp;<br />питомца
            </p>
            <ul class="list">
               <li class="list__item">
                  <img src="img/tablet-1.png" alt="tablet" class="list__img" />
                  <b class="bold">Масло от гельминтов</b> Бережно выводит все
                  виды&nbsp;<br />
                  гельминтов
               </li>
               <li class="list__item">
                  <img src="img/tablet-2.png" alt="tablet" class="list__img" />
                  <b class="bold">Порошковый витаминно&nbsp;<br />минеральный комплекс</b>
                  Восстанавливает организм питомца&nbsp;<br />с помощью
                  витаминно-минерального&nbsp;<br />
                  комплекса
               </li>
            </ul>
            <p class="note">
               Для здоровья собак и кошек&nbsp;<br />возрастом от 12 недель
            </p>
            <img src="img/product.png" alt="product" class="product" />
         </div>
         <div class="order-form">
            <form action="/submit" method="post" class="x_order_form form">
               <div class="form__price">
                  <div class="old">
                     <p class="old__text">Старая цена</p>
                     <p class="old__line">
                        <span class="old__value x_price_previous">918</span><span class="old__current x_currency">грн</span>
                     </p>
                  </div>
                  <div class="new">
                     <p class="new__text">Новая цена</p>
                     <p class="new__back">
                        <span class="new__value x_price_current">459</span><span class="new__current x_currency">грн</span><span
                           class="note">*</span>
                     </p>
                  </div>
               </div>
               <div class="leftovers">
                  Осталось <span class="lastpack text-blue">10</span> упаковок<small>по акции</small>
               </div>
               <div class="input-wrap">
                  <i class="fico fico-name"></i>
                  <input class="input" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" />
               </div>
               <div class="input-wrap">
                  <i class="fico fico-tel"></i><input class="input" type="tel" name="phone" placeholder="Мой телефон"
                     required="" autocomplete="tel" />
               </div>
               <button type="submit" class="btn">
                  Заказать <small class="small">co скидкой</small>
               </button>
               <span class="foodnote">* при заказе курса</span>
               <span class="protection">
                  <i class="fico fico-protection"></i> Ваши данные защищены!
               </span>
            </form>
            <p class="text">
               <i class="fico fico-bus"></i> Бесплатная доставка&nbsp;<br />без
               предоплаты
            </p>
         </div>
      </div>
   </div>
</header>