<section class="instruction block">
   <div class="container">
      <div class="row">
         <h2 class="title instruction__title">Как применять комплекс <span class="text-blue">ANI</span><span class="text-blue3">TOX</span></h2>
         <p class="instruction__text">Наиболее удобная форма приема для животных!</p>
         <p class="instruction__text2">Раскройте капсулу и добавьте содержимое <span class="bold">в их привычную еду
               или в
               воду</span></p>
         <div class="instruction__content">
            <div class="row-wrap row-wrap-0">
               <p class="text-ttl">Вес животного</p>
               <div class="item">
                  <p class="text-ttl">Дозировка&nbsp;<br>вечер</p>
                  <p class="text-ttl">Дозировка&nbsp;<br>утро</p>
               </div>
            </div>
            <div class="wrap-mobile">
               <div class="row-wrap row-wrap-1">
                  <div class="cell cell-1">
                     <div class="value">
                        <i class="fico fico-value"></i>
                        <span class="num">до&nbsp;5</span>
                        <span>кг</span>
                     </div>
                     <div class="img-wrap">
                        <img src="img/animal-1.png" alt="animal" class="animal1">
                        <img src="img/animal-2.png" alt="animal" class="animal2">
                     </div>
                  </div>
                  <div class="cell cell-2">
                     <div class="value">
                        <i class="fico fico-value"></i>
                        <span class="num">5-10</span>
                        <span>кг</span>
                     </div>
                     <div class="img-wrap">
                        <img src="img/animal-3.png" alt="animal" class="animal3">
                        <img src="img/animal-4.png" alt="animal" class="animal4">
                     </div>
                  </div>
                  <div class="cell cell-tablet">
                     <div class="tablet1">
                        <img src="img/tab-full-1.png" alt="tablet" class="tab-img tab-img--big">
                        <span class="text">1 капсула&nbsp;<br>с маслом </span>
                     </div>
                     <div class="tablet2">
                        <img src="img/tab-full-2.png" alt="tablet" class="tab-img tab-img--big">
                        <span class="text">1 капсула&nbsp;<br>с порошком </span>
                     </div>
                  </div>
               </div>
               <div class="row-wrap row-wrap-2">
                  <div class="cell cell-3">
                     <div class="value">
                        <i class="fico fico-value"></i>
                        <span class="num">10-20</span>
                        <span>кг</span>
                     </div>
                     <div class="img-wrap">
                        <img src="img/animal-5.png" alt="animal" class="animal5">
                        <img src="img/animal-6.png" alt="animal" class="animal6">
                     </div>
                  </div>
                  <div class="cell cell-4">
                     <div class="value">
                        <i class="fico fico-value"></i>
                        <span class="num">20-30</span>
                        <span>кг</span>
                     </div>
                     <div class="img-wrap">
                        <img src="img/animal-7.png" alt="animal" class="animal7">
                        <img src="img/animal-8.png" alt="animal" class="animal8">
                     </div>
                  </div>
                  <div class="cell cell-tablet">
                     <div class="tablet1">
                        <img src="img/tab-full-1.png" alt="tablet" class="tab-img">
                        <img src="img/tabl-1.png" alt="tablet" class="tab-img tab-img--big">
                        <span class="text">1,5 капсулы&nbsp;<br>с маслом </span>
                     </div>
                     <div class="tablet2">
                        <img src="img/tab-full-2.png" alt="tablet" class="tab-img">
                        <img src="img/tabl-2.png" alt="tablet" class="tab-img tab-img--big">
                        <span class="text">1,5 капсулы&nbsp;<br>с порошком </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row-wrap row-wrap-3">
               <div class="cell cell-5">
                  <div class="value">
                     <i class="fico fico-value"></i>
                     <span class="num">40+</span>
                     <span>кг</span>
                  </div>
                  <div class="img-wrap">
                     <img src="img/animal-9.png" alt="animal" class="animal9">
                     <img src="img/animal-10.png" alt="animal" class="animal10">
                     <img src="img/animal-11.png" alt="animal" class="animal11">
                  </div>
               </div>
               <div class="cell cell-tablet">
                  <div class="tablet1">
                     <img src="img/tab-full-1.png" alt="tablet" class="tab-img">
                     <img src="img/tab-full-1.png" alt="tablet" class="tab-img tab-img--big">
                     <span class="text">2 капсулы&nbsp;<br>с маслом </span>
                  </div>
                  <div class="tablet2">
                     <img src="img/tab-full-2.png" alt="tablet" class="tab-img">
                     <img src="img/tab-full-2.png" alt="tablet" class="tab-img tab-img--big">
                     <span class="text">2 капсулы&nbsp;<br>с порошком </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="instruction__desc">
            <p class="color">Курс применения – от 15 дней</p>
         </div>
         <p class="instruction__result">Вечером вы даете питомцу мягкое антигельминтное, а утром восстанавливаете его
            организм витаминами,&nbsp;<br>минералами и микроэлементами</p>
      </div>
   </div>
</section>