<section class="sec-10 block" id="reviews">
  <div class="container">

    <div class="sec-10__title title wow fadeInDown">
      <span class="dark-accent">ANI</span><span class="light-accent">TOX</span> — противопаразитарный препарат для

      домашних животных <span class="nowrap">2 в 1</span>
    </div>
    <div class="sec-10__accent-line wow fadeInDown" data-wow-delay="0.4s">
      <div class="sec-10__okay">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="19px">
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M23.467,0.001 L9.750,13.832 L2.533,6.566 L0.000,9.151 L9.750,18.999 L26.000,2.583 L23.467,0.001 Z" />
        </svg>
      </div>
      Производится в экологически чистом районе Алтайского края
    </div>
    <div class="sec-10__wrap">
      <div class="sec-10__image-block">
        <img src="img/sec10_1.jpg" class="sec-10__image-first wow fadeInDown" data-wow-delay="0.5s" />
        <img src="img/sec10_2.jpg" class="sec-10__image-second wow fadeInDown" data-wow-delay="0.6s" />
      </div>
      <div class="sec-10__text wow fadeInDown" data-wow-delay="0.65s">
        <p class="sec-10__paragraph">
          <span class="weight-medium">
            Anitox производится на основе экологически чистых лекарственных
            растений, выращиваемых на экологической базе в Горном Алтае.</span>
          Для производства препарата лаборатория использует новейшее
          оборудование и собственный экстрактный цех. Последний позволяет
          сохранить природные витамины, минералы и активные вещества растений,
          которые теряются при транспортировке.
        </p>
        <p class="sec-10__paragraph">
          <span class="weight-medium">
            Благодаря технологиям и ответственному подходу лаборатория уже 7 лет производит качественные, эффективные и
            безопасные препараты,</span>
          контролируя их производство от сбора сырья, создания экстрактов
          и изготовления, до продажи.
        </p>
        </p>
      </div>
    </div>

    <div class="sec-10__title title sec-10__title--second wow fadeInDown" data-wow-delay="0.6s">
      Заказать оригинальный <span class="dark-accent">ANI</span><span class="light-accent">TOX</span> можно
      только на нашем сайте
    </div>
    <div class="sec-10__order">
      <div class="sec-10__order-item sec-10__order-item--first wow fadeInDown" data-wow-delay="0.65s">
        <div class="sec-10__order-image-block">
          <img src="img/sec10_3.jpg" class="sec-10__order-image">
        </div>
        <div class="sec-10__order-title">
          Заполните форму<br> на сайте
        </div>
        <div class="sec-10__line--first">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108px" height="32px">
            <defs>
              <linearGradient id="PSgrad_0" x1="100%" x2="0%" y1="0%" y2="0%">
                <stop offset="0%" stop-color="rgb(255,198,1)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(247,223,60)" stop-opacity="1" />
              </linearGradient>
              <linearGradient id="PSgrad_1" x1="100%" x2="0%" y1="0%" y2="0%">
                <stop offset="0%" stop-color="rgb(255,198,0)" stop-opacity="1" />
                <stop offset="99%" stop-color="rgb(247,223,60)" stop-opacity="1" />
              </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M0.000,9.796 L0.727,9.796 L8.000,15.663 L0.727,22.204 L0.000,22.204 L4.091,15.781 L0.000,9.796 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M100.000,9.796 L100.727,9.796 L108.000,15.663 L100.727,22.204 L100.000,22.204 L104.091,15.781 L100.000,9.796 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M23.000,6.531 L23.727,6.531 L33.000,15.663 L22.727,25.470 L22.000,25.470 L29.091,15.781 L23.000,6.531 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M73.000,6.531 L73.727,6.531 L83.000,15.663 L72.727,25.470 L72.000,25.470 L79.091,15.781 L73.000,6.531 Z" />
            <path fill="url(#PSgrad_0)" d="M73.000,6.531 L73.727,6.531 L83.000,15.663 L72.727,25.470 L72.000,25.470 L79.091,15.781 L73.000,6.531 Z" />
            <path fill-rule="evenodd" fill="rgb(95, 180, 78)" d="M43.000,0.001 L43.727,0.001 L58.000,15.663 L42.727,32.000 L42.000,32.000 L54.091,15.781 L43.000,0.001 Z" />
            <path fill="url(#PSgrad_1)" d="M43.000,0.001 L43.727,0.001 L58.000,15.663 L42.727,32.000 L42.000,32.000 L54.091,15.781 L43.000,0.001 Z" />
          </svg>
        </div>
      </div>
      <div class="sec-10__order-item sec-10__order-item--second wow fadeInDown" data-wow-delay="0.7s">
        <div class="sec-10__order-image-block">
          <img src="img/sec10_4.jpg" class="sec-10__order-image">
        </div>
        <div class="sec-10__order-title">
          Дождитесь звонка<br> оператора
        </div>
        <div class="sec-10__line--second">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108px" height="32px">
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M-0.000,9.796 L0.727,9.796 L8.000,15.663 L0.727,22.204 L-0.000,22.204 L4.091,15.781 L-0.000,9.796 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M100.000,9.796 L100.727,9.796 L108.000,15.663 L100.727,22.204 L100.000,22.204 L104.091,15.781 L100.000,9.796 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M23.000,6.531 L23.727,6.531 L33.000,15.663 L22.727,25.470 L22.000,25.470 L29.091,15.781 L23.000,6.531 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M73.000,6.531 L73.727,6.531 L83.000,15.663 L72.727,25.470 L72.000,25.470 L79.091,15.781 L73.000,6.531 Z" />
            <path fill-rule="evenodd" fill="rgb(228, 228, 228)" d="M43.000,0.001 L43.727,0.001 L58.000,15.663 L42.727,32.000 L42.000,32.000 L54.091,15.781 L43.000,0.001 Z" />
          </svg>
        </div>
      </div>


      <div class="sec-10__order-item sec-10__order-item--third wow fadeInDown" data-wow-delay="0.8s">
        <div class="sec-10__order-image-block">
          <img src="img/sec10_5.jpg" class="sec-10__order-image">
        </div>
        <div class="sec-10__order-title">
          Получите посылку<br> на почте

        </div>
      </div>
    </div>


  </div>
  </div>

  <div class="sec-10__bottom-line wow fadeInDown" data-wow-delay="0.75s">
    Если у вас возникают вопросы - вы всегда можете с нами связаться и получить подробную
    <span class="green-color">бесплатную</span> консультацию о продукте и способе его применения.

  </div>
  </div>
</section>