<section class="sec-2 block">
  <div class="container">
    <div class="sec-2__wrap">
      <div class="sec-2__association-block">
        <div class="sec-2__logo-block">
          <img src="img/sec2__logo.jpg" class="sec-2__logo" />

        </div>
        <div class="sec-2__association-title">
          По данным Всемирной Ветеринарной Ассоциации
        </div>
      </div>
      <div class="sec-2__title title wow fadeInDown">Гельминтами <span class=" accent">заражен каждый второй&nbsp;<div
            class="hide-769"><br /></div>
          питомец</span> на планете
      </div>
      <div class="sec-2__sub-title wow fadeInDown" data-wow-delay="0.4s">
        Гельминтами могут заразиться даже домашние животные, которые не бывают
        <span class="nowrap">на улице.</span>
      </div>
      <div class="sec-2__reasons-title wow fadeInDown" data-wow-delay="0.5s">Они заражаются через:</div>
      <div class="sec-2__reasons-list wow fadeInDown" data-wow-delay="0.6s">
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_1.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">
            грязь, которую вы приносите домой <span class="nowrap">на подошве</span>
          </div>
        </div>
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_2.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">сырое мясо и рыбу</div>
        </div>
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_3.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">через мух, тараканов и клопов</div>
        </div>
      </div>
      <div class="sec-2__symptoms-block">
        <div class="sec-2__symptoms-list">
          <div class="sec-2__symptoms-title">
            Как понять, что питомец заражен:
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_4.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              он вял&nbsp;<div class="hide-br-title"><br></div> и малоподвижен
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_5.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              его шерсть&nbsp;<div class="hide-br-title"><br></div> жесткая&nbsp;<div class="hide-br-title"><br></div>
              и
              взъерошенная
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_6.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              у него&nbsp;<div class="hide-br-title"><br></div> неустойчивый&nbsp;<div class="hide-br-title"><br></div>
              аппетит
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_7.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              употребление&nbsp;<div class="hide-br-title"><br></div> в пищу несъедобных предметов
            </div>
          </div>
          <div class="sec-2__symptoms-item last">
            <img src="img/sec2_8.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              он отстает&nbsp;<div class="hide-br-title"><br></div> в общем развитии&nbsp;<div class="hide-br-title"><br></div>
              и
              росте
            </div>
          </div>
        </div>
      </div>
      <div class="sec-2__accent-block wow fadeInDown" data-wow-delay="0.8s"">
        <p class=" sec-2__accent-text">
        Наличие гельминтов в организме питомца крадет
        <span class="weight-black">до 5 лет</span> его жизни!
        </p>
      </div>
      <div class="sec-2__bottom-title wow fadeInDown" data-wow-delay="0.9s">
        Среди тех, которые бывают на улице, заражены практически все!
      </div>
      <p class="sec-2__bottom-text wow fadeInDown" data-wow-delay="0.9s">
        Ветеринары настаивают на профилактике гельминтоза у животных каждые
        полгода, даже если вы считаете, что ему негде было заразиться.
      </p>
    </div>
  </div>
</section>