<section class="sec-2 block">
  <div class="container">
    <div class="sec-2__wrap">
      <div class="sec-2__association-block">
        <img src="img/sec2__logo.jpg" />
        <div class="sec-2__association-title">
          По данным Всемирной Ветеринарной Ассоциации
        </div>
      </div>
      <div class="sec-2__title">
        Гельминтами
        <span class="accent">заражен каждый второй<br />
          питомец</span>
        на планете
      </div>
      <div class="sec-2__sub-title">
        Гельминтами могут заразиться даже домашние животные, которые не бывают
        на улице.
      </div>
      <div class="sec-2__reasons-title">Они заражаются через:</div>
      <div class="sec-2__reasons-list">
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_1.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">
            грязь, которую вы приносите домой на подошве
          </div>
        </div>
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_2.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">сырое мясо и рыбу</div>
        </div>
        <div class="sec-2__reasons-item">
          <div class="sec-2__reasons-image-block">
            <img src="img/sec2_3.jpg" class="sec-2__reasons-image" />
            <div class="error-icon">!</div>
          </div>

          <div class="sec-2__reasons-text">через мух, тараканов и клопов</div>
        </div>
      </div>
      <div class="sec-2__symptoms-block">
        <div class="sec-2__symptoms-list">
          <div class="sec-2__symptoms-title">
            Как понять, что питомец заражен:
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_4.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              он вял<br />и малоподвижен
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_5.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              его шерст<br />жесткая<br />и взъерошенная
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_6.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              у него<br />неустойчивый<br />аппетит
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_7.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              употребление<br />в пищу несъедобных предметов
            </div>
          </div>
          <div class="sec-2__symptoms-item">
            <img src="img/sec2_8.jpg" class="sec-2__symptoms-image" />
            <div class="sec-2__symptoms-item-title">
              он отстает<br />в общем развитии<br />и росте
            </div>
          </div>
        </div>
      </div>
      <div class="sec-2__accent-block">
        <p class="sec-2__accent-text">
          Наличие гельминтов в организме питомца крадет
          <span class="weight-black">до 5 лет</span> его жизни!
        </p>
      </div>
      <div class="sec-2__bottom-title">
        Среди тех, которые бывают на улице заражены практически все!
      </div>
      <p class="sec-2__bottom-text">
        Ветеринары настаивают на профилактике гельминтоза у животных каждые
        полгода, даже если вы считаете, что ему негде было заразиться.
      </p>
    </div>
  </div>
</section>