<section class="sec-4 block">
  <div class="container">
    <div class="sec-4__title title">
      Чтобы дегельминтизация принесла животному пользу, необходимо одновременно
      использовать <br /><span class="accent">2 препарата</span>:
    </div>
    <div class="sec-4__facilities-list">
      <div class="sec-4__facilities-block">
        <div class="sec-4__facilities-item">
          <div
            class="sec-4__facilities-content sec-4__facilities-content--first"
          >
            <div class="sec-4__facilities-title sec-4__facilities-title--first">
              1. Антигельминтное средство
            </div>
            <p class="sec-4__facilities-text">
              Бережно
              <span class="weight-medium">избавляет от глистов и их яиц</span>,
              останавливая интоксикацию организма животного токсинами, которые
              продуцируют паразиты.
            </p>
          </div>
        </div>
      </div>

      <div class="sec-4__facilities-block">
        <div class="sec-4__facilities-item">
          <div
            class="sec-4__facilities-content sec-4__facilities-content--second"
          >
            <div
              class="sec-4__facilities-title sec-4__facilities-title--second"
            >
              1. Антигельминтное средство
            </div>
            <p class="sec-4__facilities-text">
              Содержит необходимые для восстановления зараженного гельминтами
              организма питомца
              <span class="weight-medium"
                >питательные вещества, которые возвращают энергичность</span
              >
              и укрепляют его <span class="weight-medium">иммунитет</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sec-4__important">Важно</div>
    <p class="sec-4__bottom-text">
      Для полноценной заботы о животном, которое полностью вам доверяет,
      выбирайте
      <span class="weight-medium">натуральное комплексное средство</span>. Так
      вы избавите его от болей, о которых оно не может рассказать, и
      <span class="weight-medium">укрепите его здоровье</span>.
    </p>
  </div>
</section>
