<section class="sec-6 block">
  <div class="container">
    <div class="sec-6__title title">
      <span class="dark-accent">ANI</span><span class="light-accent">TOX</span> — первый препарат 2 в 1 - для
      дегельминтизации с витаминно-минеральным комплексом
    </div>
    <div class="sec-6__compos-list">
      <div class="sec-6__compos-block sec-6__compos-left">
        <div class="sec-6__compos-head sec-6__compos-head--left">
          <div class="sec-6__compos-title dark-accent">
            Натуральный противогельминтный комплекс (масло)
          </div>
          <div class="sec-6__compos-s-title">бережно выводит паразитов</div>

          <img src="img/sec6__arrow-down.png" class="sec-6__left-arrow" alt="" />

        </div>
        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Концентрат полыни</div>
              <p class="sec-6__compos-text">
                уничтожает все виды глистов и лямблии
              </p>
            </div>
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__1.jpg" />
            </div>
          </div>
        </div>
        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Концентрат ферулы</div>
              <p class="sec-6__compos-text">
                воздействует на остриц, круглых и ленточных паразитов
              </p>
            </div>
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__2.jpg" />
            </div>
          </div>
        </div>
        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Концентрат зверобоя</div>
              <p class="sec-6__compos-text">
                выводит глистов и дезинфицирует пораженные ткани
              </p>
            </div>
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__3.jpg" />
            </div>
          </div>
        </div>
        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Концентрат пижмы</div>
              <p class="sec-6__compos-text">
                многократно усиливает воздействие других компонентов
              </p>
            </div>
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__4.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="sec-6__compos-pills">
        <img src="img/sec6_t1.png" class="sec-6__pills-left" />
        <img src="img/sec6_t2.png" class="sec-6__pills-right" />
      </div>
      <div class="sec-6__compos-block sec-6__compos-right">
        <div class="sec-6__compos-head sec-6__compos-head--right">
          <div class="sec-6__compos-title light-accent">
            Витаминно-минеральный комплекс (порошок)
          </div>
          <div class="sec-6__compos-s-title">бережно выводит паразитов</div>
          <img src="img/sec6__arrow-down.png" class="sec-6__right-arrow" alt="" />

        </div>

        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__5.jpg" class="sec-6__ginseng-image" />
            </div>
            <div class="sec-6__compos-info sec-6__compos-info--first">
              <div class="sec-6__compos-name">Корень женьшеня</div>
              <p class="sec-6__compos-text">
                содержит витамины группы B, витамин D, микроэлементы
              </p>
              <div class="plus">+</div>
              <div class="description">
                содержит витамины группы B, витамин D, микроэлементы
              </div>
            </div>
          </div>
        </div>

        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__6.jpg" />
            </div>
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Брокколи</div>
              <p class="sec-6__compos-text">
                содержит витамины A, C, B1, B2, B3 (PP), B4, B5, B6 и B9, E и K
              </p>
              <div class="plus">+</div>
              <div class="description">
                содержит витамины группы B, витамин D, микроэлементы
              </div>
            </div>
          </div>
        </div>

        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__7.jpg" />
            </div>
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Кэроб</div>
              <p class="sec-6__compos-text">
                содержит витамины A, C, B1, B2, B3 (PP), B4, B5, B6 и B9, E и K
              </p>
              <div class="plus">+</div>
              <div class="description">
                содержит витамины группы B, витамин D, микроэлементы
              </div>
            </div>
          </div>
        </div>
        <div class="sec-6__compos-item">
          <div class="sec-6__flex-box">
            <div class="sec-6__compos-image-box">
              <img src="img/sec6__8.jpg" />
            </div>
            <div class="sec-6__compos-info">
              <div class="sec-6__compos-name">Амарант</div>
              <p class="sec-6__compos-text">
                содержит витамины A, C, B1, B2, B3 (PP), B4, B5, B6 и B9, E и K
              </p>
              <div class="plus">+</div>
              <div class="description">
                содержит витамины группы B, витамин D, микроэлементы
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-line"></div>

    <div class="sec-6__bottom-text">
      Ваш здоровый любимец будет радовать вас много лет!
    </div>

    <div class="sec-6__bottom-button">
      <button type="submit" class=" ever-popup-btn btn btn-large">
        Заказать Anitox<small class="small">co скидкой</small>
      </button>
    </div>
  </div>
</section>