<section class="sec-8">
  <div class="container">
    <div class="sec-8__title">
      Почему хозяева выбирают для своих питомцев
      <span class="dark-accent">ANI</span><span class="light-accent">TOX</span>
    </div>
    <div class="sec-8__videos">
      <div class="sec-8__video">
        <a class="video__link" href="https://youtu.be/1jjo4S7-zU8">
          <img src="img/sec10__rew1.jpg" class="sec-8__video-image" />
        </a>
        <button class="sec-8__video-button">Запустить</button>
      </div>
    </div>
  </div>
</section>
