<section class="sec-8">
  <div class="container">
    <div class="sec-8__title title">
      Почему хозяева выбирают для своих питомцев<br />
      <span class="dark-accent">ANI</span><span class="light-accent">TOX</span>
    </div>
    <div class="sec-8__videos">
      <div class="sec-8__video-box">
        <div class="youtube sec-8__video" id="1jjo4S7-zU8">
          <img src="../img/sec10__rew1.jpg" class="thumb" />

          <svg
            class="play"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="70px"
            height="70px"
          >
            <path
              fill-rule="evenodd"
              opacity="0.4"
              class="button-circle"
              fill="rgb(6, 168, 206)"
              d="M35.000,-0.000 C54.330,-0.000 70.000,15.670 70.000,35.000 C70.000,54.330 54.330,70.001 35.000,70.001 C15.670,70.001 -0.000,54.330 -0.000,35.000 C-0.000,15.670 15.670,-0.000 35.000,-0.000 Z"
            />
            <path
              class="button-circle"
              fill-rule="evenodd"
              fill="rgb(6, 168, 206)"
              d="M34.500,10.001 C48.583,10.001 60.000,21.417 60.000,35.501 C60.000,49.583 48.583,61.000 34.500,61.000 C20.417,61.000 9.000,49.583 9.000,35.501 C9.000,21.417 20.417,10.001 34.500,10.001 Z"
            />
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M28.000,23.000 L45.000,36.000 L28.000,48.000 L28.000,23.000 Z"
            />
          </svg>
        </div>
      </div>
      <div class="sec-8__video-box">
        <div class="youtube sec-8__video" id="1jjo4S7-zU8">
          <img src="../img/sec10__rew2.jpg" class="thumb" />

          <svg
            class="play"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="70px"
            height="70px"
          >
            <path
              fill-rule="evenodd"
              opacity="0.4"
              class="button-circle"
              fill="rgb(6, 168, 206)"
              d="M35.000,-0.000 C54.330,-0.000 70.000,15.670 70.000,35.000 C70.000,54.330 54.330,70.001 35.000,70.001 C15.670,70.001 -0.000,54.330 -0.000,35.000 C-0.000,15.670 15.670,-0.000 35.000,-0.000 Z"
            />
            <path
              class="button-circle"
              fill-rule="evenodd"
              fill="rgb(6, 168, 206)"
              d="M34.500,10.001 C48.583,10.001 60.000,21.417 60.000,35.501 C60.000,49.583 48.583,61.000 34.500,61.000 C20.417,61.000 9.000,49.583 9.000,35.501 C9.000,21.417 20.417,10.001 34.500,10.001 Z"
            />
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M28.000,23.000 L45.000,36.000 L28.000,48.000 L28.000,23.000 Z"
            />
          </svg>
        </div>
      </div>
      <div class="sec-8__video-box">
        <div class="youtube sec-8__video" id="1jjo4S7-zU8">
          <img src="../img/sec10__rew3.jpg" class="thumb" />

          <svg
            class="play"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="70px"
            height="70px"
          >
            <path
              fill-rule="evenodd"
              opacity="0.4"
              class="button-circle"
              fill="rgb(6, 168, 206)"
              d="M35.000,-0.000 C54.330,-0.000 70.000,15.670 70.000,35.000 C70.000,54.330 54.330,70.001 35.000,70.001 C15.670,70.001 -0.000,54.330 -0.000,35.000 C-0.000,15.670 15.670,-0.000 35.000,-0.000 Z"
            />
            <path
              class="button-circle"
              fill-rule="evenodd"
              fill="rgb(6, 168, 206)"
              d="M34.500,10.001 C48.583,10.001 60.000,21.417 60.000,35.501 C60.000,49.583 48.583,61.000 34.500,61.000 C20.417,61.000 9.000,49.583 9.000,35.501 C9.000,21.417 20.417,10.001 34.500,10.001 Z"
            />
            <path
              fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M28.000,23.000 L45.000,36.000 L28.000,48.000 L28.000,23.000 Z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="sec-8__title title">
      Отзывы хозяев, которые выбрали <br /><span class="dark-accent">ANI</span
      ><span class="light-accent">TOX</span>
    </div>

    <div class="sec-8__slider-box">
      <div class="js_sec-8_slider sec-8__slider">
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew4.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Александра,<br />
                48 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Anitox мне посоветовала моя сестра, которая давала его своему
              котейке для профилактики от глистов. Мне понравилось, что это
              средство не только избавляет от паразитов, но и оздоравливает. Я
              купила его для щенка, которого недавно приютила. Он был какой-то
              хиленький и слабенький, возможно предыдущие хозяева с ним плохо
              обращались. После курса комплекса Anitox он стал намного
              жизнерадостнее. Стал намного меньше скулить, охотнее резвиться во
              дворе. Просто чудо)
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew5.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Ольга,<br />
                28 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Когда я и муж переехали в частный дом, наша кошка стала постоянно
              гулять во дворике. Я особо не следила, где она лазила, но одним
              утром, я заметила, как она стала болезненно вялая и перестала
              резвиться. Под вечер она сходила в туалет червичками. Я сначала
              запаниковала, что делать, чем лечить, за что хвататься. Было
              страшно травить её чем попало, и мы решили пролечить её
              органическим препаратом Anitox. Наша котя пролечилась, быстро
              пришла в себя, теперь ещё больше муркает, шерсть стала меньше
              выпадать, мне кажется, она теперь ещё здоровее себя чувствует, чем
              до заражения
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew6.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Константин,<br />
                37 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Я уже взял за правило раз в год проводить всей семьей
              антигельминтную профилактику. Мне, жене, сыну и нашему псу Арчи.
              Для Арчи, конечно же, нужны отдельные собачьи препараты, и в
              прошлом году у нас был довольно неприятный опыт. Купили в аптеке
              вроде как обычное профилактическое средство, а пришлось после него
              ещё лечить псу печень. В этом году я аккуратно выбирал препарат, и
              наткнулся на Anitox. Мне понравилось, что это по сути витаминный
              комплекс + противогельминтное два в одном. Арчи пропил курс, и
              теперь кажется даже оздоровился. Шерсть стала более блестящей, и
              сам он бодрее стал
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew7.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Мария,<br />
                42 года
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              У меня душа очень чуткая и Барсика своего котика любимого люблю
              баловать. Я его и курочкой угощаю, и говядиной, рыбкой. Вот видно
              рыбку ему и не надо было давать потому, что глисты у него в лотке
              нашла. Видно рыбка-то была на самая свежая. Позвонила Кате, сестре
              - она у меня ветеринар. Катя мне Анитокс и посоветовала. Сказала,
              что сейчас самое лучшее средство это. Что натуральное, глистов
              всех выведет и иммунитет котенку поднимет. Купила его. Стала
              давать котенку, наблюдаю за ним и уже через три дня лоток у него
              чистый! Никаких глистов и активный он и энергичный.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew8.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Владимир,<br />
                39 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Я уезжал на неделю в командировку. Своего Кузю, французского
              бульдожку, доверил друзьям. Перед отъездом попросил следить за
              Кузей во время прогулок. Он у меня любит дрянь всякую подбирать и
              есть. Ну, видимо и не уследили, потому что вернулся, а он по полу
              ерзает. Повезло, что я заранее Анитокс покупал. Думал вернуться и
              профилактику ему сделать от глистов. Вот анитоксом глисты ему и
              выводил. За одну неделю Кузька у меня по полу ерзать перестал.
              После полного курса я его на всякий случай в клинику свозил. Там
              его посмотрели - глистов нет. Пес здоровый.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew9.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Катерина,<br />
                52 года
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Я в свое время очень намучилась со своими корги Барри и Лизой.
              Когда они глистов подцепили заставляла их таблетки специальные
              есть. Скандалили с ними каждый день. В итоге, Лиза у меня девочка,
              быстро от глистов избавилась, а вот Барри - нет. Я ему опять давай
              таблетки давать. Вывели у него глистов, так через день Лиза их
              опять подхватила. Я поговорила с ветеринаршей знакомой, она
              сказала, что так бывает, если у собаки иммунитет слабый.
              Порекомендовала нам анитокс - он и глистов выводит и иммунитет
              поднимает. Им я своих песиков и вылечила. Очень быстро, дня за 3
              они уже бегали по двору, как щенки беззаботные. Больше никаких
              глистов. Вывели, наконец-то.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew10.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Nina,<br />
                61 год
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Мы нашего Мухтара постоянно оздоравливаем. Раз в полгода -
              стандартно у нас чистка от паразитов и витаминные комплексы.
              Приятно удивились, когда нашли Анитокс - теперь не нужно ему в
              миску столько много разных средств капать, одного Анитокса
              достаточно. После курса заметили, как шерсть у пса стала гуще,
              теперь всегда будем Анитоксом пользоваться.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew11.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Валерия,<br />
                25 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              О том, что наш котейка заражен узнали случайно. Он каким-то вялым
              стал, шерст выпадала, повели его к ветеренару - тот сказала, что
              дело в паразитах. Мне аж так стыдно перед ветеренаром было, что мы
              столько месяцев не могли догадаться и мучали масика. Быстренько
              приобрели Анитокс, пролечили. Пошли потом на повторный прием к
              ветеринару - сказал, что всё позади, и похвалил нас, что мы
              Анитокс выбрали, потому что он в бонус ещё и здоровье в целом
              котику укрепил.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew12.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Владимир,<br />
                46 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Интересное средство. Не знал, что животному можно одновременно
              выводить и глистов, и оздоравливать его. Купили щенку, которого
              подобрали на улице. Пропил он курс, благоприятно повлиял, щенок
              теперь так часто не скулит - наверно и правда у него там что-то
              жило.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
        <div class="sec-8__slide-item">
          <div class="sec-8__slide-wrap">
            <div class="sec-8__slide-user">
              <img src="../img/sec10__rew13.jpg" class="sec-8__slide-image" />
              <div class="sec-8__slide-name">
                Мила,<br />
                37 лет
              </div>
            </div>
            <div class="sec-8__slide-review sec-8__overflow">
              Я не знала, что неправильные таблетки от глистов могут собаке
              вредить. Ветеринар говорил “гоните глистов”, я шла в киоск,
              покупала таблетку, какая там была, кормила собаку ими и все. А на
              третий раз Джексон после этих таблеток 3 суток ничего не ел! Мне
              было страшно - жуть! Тогда уже я расспросила у ветеринара, что к
              чему. Он сказал, что лучше всего на сегодня Анитокс выбирать, он
              щадящий, еще и восстанавливает. В последний раз по правилам
              Джексону глистов гнали, все отлично. Я вообще за то, чтобы при
              клиниках Анитокс продавался. Я бы лучше еще накрутку клинике
              заплатила, пока этот сайт не нашла, но была бы уверена в здоровье
              своей собаки.
            </div>
            <div class="sec-8-composition-btn">+</div>
          </div>
        </div>
      </div>
      <div class="slick-arrows-block">
        <svg
          class="slick-prev"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            fill-rule="evenodd"
            d="M23.314,41.901 L21.900,43.313 L0.686,22.100 L0.786,22.000 L0.686,21.900 L21.900,0.686 L23.314,2.101 L3.414,22.001 L23.314,41.901 Z"
          />
        </svg>

        <svg
          class="slick-next"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            fill-rule="evenodd"
            d="M23.000,21.602 L1.437,43.000 L-0.000,41.573 L20.228,21.500 L-0.000,1.427 L1.437,0.001 L23.000,21.400 L22.898,21.501 L23.000,21.602 Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
