<section class="vitamin">
   <div class="container">
      <h2 class="title vitamin__title">Вот какие <span class="text-blue">витамины и минералы</span>&nbsp;<br>
         жизненно необходимы любому живому организму:</h2>
      <div class="vitamin__list">
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-1">A</span>
               <span class="item__name">витамин</span>
            </div>
            <p class="item__text">необходим для зрения животного, здорового иммунитета, отсутствия проблем с шерстью и
               кожей</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-2">B</span>
               <span class="item__name">витамин</span>
            </div>
            <p class="item__text">необходимы для нормальной работы
               пищеварительной системы, здоровой
               психики и адекватного поведения&nbsp;<br>
               питомца</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-3">C</span>
               <span class="item__name">витамин</span>
            </div>
            <p class="item__text">нужен для борьбы с инфекциями,
               заживления ран, адаптации животного
               к&nbsp;температурным режимам, сохранению
               активности животного в любом возрасте</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-4">D</span>
               <span class="item__name">витамин</span>
            </div>
            <p class="item__text">предотвращает хрупкость костей,
               невозможность много двигаться,
               у&nbsp;молодых животных - рахит</p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-5">E</span>
               <span class="item__name">витамин</span>
            </div>
            <p class="item__text">для нормальной работый&nbsp;<br>
               сердечно-сосудистой системы,
               вынашивания потомства
            </p>
         </div>
         <div class="item">
            <div class="img-wrap">
               <span class="item__img item__img-6">M</span>
               <span class="item__name">минералы</span>
            </div>
            <p class="item__text">поддерживают целостность костей, зубов,
               здоровье мышечной и нервной систем,
               отвечают за большинство процессов
               в&nbsp;организме
            </p>
         </div>
      </div>
   </div>
</section>