.instruction
	background: #e4f7fd
	padding-top: 135px
	padding-bottom: 100px
	&__title
		margin-bottom: 30px
	&__text
		font-size: 22px
		color: #444444
		text-align: center
		padding: 24px 10px
		background-color: #ffffff
		border-radius: 34.5px
		border: 1px solid #e0e1e1
		display: block
		max-width: 600px
		text-align: center
		margin: auto
		margin-bottom: 35px
	&__text2
		font-size: 22px
		text-align: center
		line-height: 1.18
		color: #444444
		margin-bottom: 53px
		.bold
			color: #000000
	&__content
		margin-bottom: 57px
		.row-wrap
			display: flex
			align-items: center
			justify-content: space-between
			padding-bottom: 19px
			border-bottom: 1px solid #bcdce4
			&-1
				padding-top: 32px
				padding-bottom: 26px
				justify-content: flex-start
			&-2
				justify-content: flex-start
				padding-top: 17px
				padding-bottom: 15px
				.cell-tablet
					.tablet1
						+nlt
							margin-right: 27px
			&-3
				padding-top: 30px
				padding-bottom: 0
				border-bottom: none
				justify-content: flex-start
				.cell-tablet
					align-self: flex-start
					margin-top: 40px
					.tablet1
						+nlt
							margin-right: 38px
				.value
					align-self: flex-start
					top: 20px
		.item
			display: flex
		.text-ttl
			margin-right: 80px
			font-size: 20px
			font-weight: 500
			color: #000000
		.cell
			display: flex
			align-items: center
			&-tablet
				width: 400px
				padding-left: 42px
			&-1
				width: 370px
			&-2
				padding-left: 30px
				padding-top: 32px
				padding-bottom: 26px
				margin-top: -32px
				margin-bottom: -26px
				width: 390px
				border-left: 1px solid #bcdce4
				border-right: 1px solid #bcdce4
				.value
					margin-right: 30px
			&-3
				width: 370px
				.value
					margin-right: 50px
			&-4
				padding-left: 30px
				padding-top: 17px
				padding-bottom: 15px
				margin-top: -17px
				margin-bottom: -15px
				width: 390px
				border-left: 1px solid #bcdce4
				border-right: 1px solid #bcdce4
				.value
					margin-right: 54px
			&-5
				width: 760px
				padding-top: 30px
				margin-top: -30px
				border-right: 1px solid #bcdce4
			.fico
				color: #fab777
				font-size: 62px
			.tablet1, .tablet2
				display: flex
				align-items: center
				+nlt
					margin-right: 60px
				.tab-img
					margin-right: 10px
					&--big
						margin-right: 20px
						align-self: flex-end
				.text
					font-size: 18px
					line-height: 1.11
					color: #444444
					flex-shrink: 0
	.value
		margin-right: 60px
		display: flex
		flex-direction: column
		align-items: center
		position: relative
		.num
			position: absolute
			top: 30px
			color: #000000
			font-weight: 500
			left: 0
			right: 0
			text-align: center
		span
			color: #444444
	.animal1
		margin-right: 44px
	.animal3
		margin-right: 30px
	.animal5
		margin-right: 25px
	.animal7
		margin-right: 31px
	.animal9
		margin-right: 120px
	.animal10
		margin-right: 130px
	&__desc
		text-align: center
		font-size: 24px
		font-weight: 500
		color: #ffffff
		height: 60px
		border-radius: 10px
		max-width: 1169px
		width: 100%
		margin: auto
		background-color: #ffffff
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12)
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 30px
		.color
			background-color: #5fb44e
			border-radius: 10px
			padding: 12px 0
			max-width: 1159px
			width: 100%
	&__result
		font-size: 19px
		color: #000000
		text-align: center
		line-height: 1.26