.sec-8 {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;

}

.sec-8::after {
  position: absolute;
  content: "";
  background: url("../img/line-bottom.png") center top;
  width: 100%;
  height: 97px;
  top: -70px;
}

.sec-8::before {
  position: absolute;
  content: "";
  background: url("../img/line-top.png") center bottom;
  width: 100%;
  height: 97px;
  bottom: -45px;
}

.sec-8__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
  text-align: center;
  line-height: 1.3;
  position: relative;
  z-index: 1;
}

.sec-8__video {
  position: relative;
  width: 330px;
  height: 250px;
  border-radius: 5px;
  background-color: #000;
}

.sec-8__video-box iframe {
  width: 330px;
  height: 250px;
}

.sec-8__video-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.sec-8__videos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  justify-content: space-between;
}

.sec-8__video-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.sec-8__slide-wrap {
  display: flex;
  padding: 30px;
}

.sec-8__slide-item {
  border-radius: 10px;
  margin: 15px 15px 30px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

.sec-8__slide-user {
  margin-right: 25px;
}

.sec-8__slide-name {
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
}

.sec-8__slide-review {
  font-size: 16px;
  color: #2e2e2e;
  line-height: 1.5;
}

.sec-8__slide-image {
  margin-bottom: 20px;
}

.slick-dots li {
  width: 25px;
  height: 25px;
  background-color: #e1f4f9;
  border: 4px solid #fff;
  border-radius: 50%;
}

.slick-dots .slick-active {
  background-color: #5fb44e;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.07);
}

.slick-dots li button:before {
  content: "";
}

.slick-list {
  padding-bottom: 35px;
}

.sec-8__slider-box {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.slick-arrows-block {
  top: 100px;
  display: flex;
  width: 100%;
  position: absolute;
}

.sec-8__overflow {
  max-height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sec-8__overflow:after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 80px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%);
  background: linear-gradient(180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  left: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.active .sec-8__overflow {
  width: 100%;
  height: 100%;
  max-height: 900px;
}

.active .sec-8__overflow:after {
  opacity: 0;
}


.sec-8-composition-btn {
  cursor: pointer;
  margin: 15px auto 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  border: 1px solid transparent;
  background: #f7c96b;
  background: linear-gradient(90deg, #f7c96b 0, #fab876 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7c96b", endColorstr="#fab876", GradientType=1);
}

.slick-next,
.slick-prev {
  display: block;
  position: absolute;
  width: 24px;
  height: 44px;
  fill: rgb(225, 225, 225);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slick-next:hover,
.slick-prev:hover {
  fill: #06a8ce;
}

.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: "";
}

.sec-2__symptoms-item-title br {
  display: none;
}

.vid-3 {
  border-radius: 5px;
  height: 100%;
}

@media (max-width: 1200px) {
  .sec-8__slide-wrap {
    flex-direction: column;
  }

  .sec-8__slide-user {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .sec-8__slide-image {
    margin: 0 auto 20px;
  }

  .sec-8__slide-wrap {
    padding: 20px;
  }

  .sec-8__video,
  .sec-8__video-box iframe {
    width: 260px;
    height: 210px;
  }

  .youtube .thumb {
    height: 100%;
  }

  .sec-8__title {
    margin-bottom: 25px;
  }

  .sec-8__videos {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .sec-8 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .sec-8__title {
    margin-bottom: 30px;
  }

  .sec-8__video,
  .sec-8__video-box iframe {
    height: 210px;
  }

  .sec-8__videos {
    margin-bottom: 30px;
  }

  .slick-list {
    padding-bottom: 20px;
  }
}

@media (max-width: 992px) {

  .sec-8::after,
  .sec-8::before {
    display: none;
  }

  .sec-8__title br {
    display: none;
  }

  .sec-8__slide-wrap {
    flex-direction: row;
  }

  .sec-8__slide-user {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  .sec-8__videos {
    justify-content: center;
    margin-bottom: 20px;
  }

  .sec-8__video-box {
    margin: 10px;
  }

  .sec-8__video,
  .sec-8__video-box iframe {
    width: 290px;
  }

  .sec-8__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 769px) {
  .vid-3 {
    height: auto;
  }

  .sec-8__video-box {
    margin: 0 0 20px;
  }

  .youtube .thumb {
    height: auto;
  }

  .sec-8__video,
  .sec-8__video-box iframe {
    width: 400px;
  }

  .sec-8__video-box {
    padding: 10px;
  }

  .sec-8__slide-wrap {
    flex-direction: column;
  }

  .sec-8__slide-user {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .sec-8__slide-image {
    margin: 0 auto 20px;
  }

  .sec-8__slide-wrap {
    padding: 15px;
  }

  .hide-769 {
    display: none;
  }

  .sec-8__slide-review {
    font-size: 15px;
  }

}

@media (max-width: 580px) {
  .sec-8__slider-box {
    width: 80%;
  }
}

@media (max-width: 540px) {

  .sec-8-composition-btn {
    display: flex;
  }

  .sec-8__overflow:after {
    display: block;
  }

  .sec-8__overflow {
    max-height: 200px;
  }

  .slick-list {
    padding-bottom: 50px;
    height: 100% !important;
  }

  .slick-dots li button:before {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 479px) {

  .sec-8__video,
  .sec-8__video-box iframe {
    width: 270px;
    height: 200px;
  }

  .youtube .thumb {
    height: 100%;
  }

  .sec-8__slide-wrap {
    padding: 15px;
  }

  .sec-8__slider-box {
    width: 100%;
  }

  .slick-arrows-block {
    display: none;
  }

  .sec-2__symptoms-image {
    margin-bottom: 5px;
  }

  .sec-2__symptoms-item-title {
    font-size: 16px;
  }
}

@media (max-width: 370px) {
  .slick-prev {
    left: -25px;
  }

  .slick-next {
    right: -25px;
  }

  .sec-8__slider-box {
    width: 100%;
  }
}